<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>Welcome to our music app, <%= @user.email %>!!</h1>
    <p>You successfully signed up for our account :3</p>
    <p>bye!</p>
  </body>
</html>
